#navbar{
    background: linear-gradient(135deg, #500e0e 0%, #1a1a1a 100%);
    height: 10vh;
    
    margin-top:-22px
}




.search-container {
  position: relative;
  width: 50%;
  max-width: 500px;
}


.search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background: rgba(117, 23, 23, 0.415);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-height: 55vh;
  overflow-y: auto;
  z-index: 1000;
  margin-top: 0.5rem;
  transform: translate(800px,-10px);
}

.dropdown-item {
  display: flex;
  align-items: center;
  padding: 0.75rem 1rem;
  cursor: pointer;
  border-bottom: 1px solid #eee;
  transition: background-color 0.2s;
}

.dropdown-item:hover {
  background-color: #812121;
}

.movie-poster {
  width: 45px;
  height: 67px;
  margin-right: 1rem;
  flex-shrink: 0;
  background-color: #dbdbdb;
  display: flex;
  align-items: center;
  justify-content: center;
}

.movie-poster img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.poster-placeholder {
  color: #666;
  font-size: 0.7rem;
  text-align: center;
}

.movie-info {
  flex-grow: 1;
  overflow: hidden;
}

.movie-title {
  font-weight: 600;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #ffffff;
}

.movie-year {
  font-size: 0.8rem;
  color: #a4a3a3;
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgb(88, 13, 13);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  max-width: 800px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  display: flex;
  gap: 20px;
  position: relative;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
}


.modal-poster {
  flex: 1;
}

.modal-poster img {
  width: 100%;
  border-radius: 4px;
}

.modal-details {
  flex: 2;
}

.modal-details h2 {
  margin-top: 0;
}

.release-date {
  color: #666;
  margin-bottom: 10px;
}

.rating {
  font-weight: bold;
  margin-bottom: 20px;
}

.overview {
  line-height: 1.5;
}




.search-loading {
  padding: 10px;
  color: #666;
  text-align: center;
}