#trending-movies{
   
    display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: 30px;
  margin-bottom: 20px;
  margin-left:40px
}

#show-more-btn {
  background-color: #682b2b;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
transform: translate(0,70%);
  font-size: 16px;
  margin:auto;
  
  display:flex;
  align-items: center;
  justify-content:center
}


#trending-now {
  margin-left:40px
}



